<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>UM9lE37AAlbGuNqRXe93rZyYl8lji6KG</string>
    
    <key>Domain</key>
    <string>dev-xephk2wk8nzc8smw.us.auth0.com</string>
</dict>
</plist>
